{% extends 'base.html' %}

{% block title %}Survey{% endblock %}
{% block content %}
<h2>User Form:</h2>
    <p>Please fill out the below form to help us generate data.</p>
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.user_role.label }} {{ form.user_role }}
    {{ form.prom_used.label }} {{ form.prom_used }}
    {{ form.prom_using.label }} {{ form.prom_using }}
    {{ form.prom_metrics.label }} {{ form.prom_metrics }}
    {{ form.prom_case.label }} {{ form.prom_case }}

    {{ form.grafana_used.label }} {{ form.grafana_used }}
    {{ form.grafana_using.label }} {{ form.grafana_using }}
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
